@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #00bb33;
  --secondary-color: #f0f0f0;

  /** Light theme primary colors */
  --clr-primary-a0: #00bb33;
  --clr-primary-a10: #30b53f;
  --clr-primary-a20: #44af49;
  --clr-primary-a30: #52a853;
  --clr-primary-a40: #5da25b;
  --clr-primary-a50: #669b63;

  /** Light theme surface colors */
  --clr-surface-a0: #ffffff;
  --clr-surface-a10: #f0f0f0;
  --clr-surface-a20: #e1e1e1;
  --clr-surface-a30: #d3d3d3;
  --clr-surface-a40: #c5c5c5;
  --clr-surface-a50: #b6b6b6;

  /** Light theme tonal surface colors */
  --clr-surface-tonal-a0: #daf3d6;
  --clr-surface-tonal-a10: #d0e6cc;
  --clr-surface-tonal-a20: #c5d8c2;
  --clr-surface-tonal-a30: #bbcbb8;
  --clr-surface-tonal-a40: #b1beaf;
  --clr-surface-tonal-a50: #a7b1a5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);

  --color-primary-a0: var(--clr-primary-a0);
  --color-primary-a10: var(--clr-primary-a10);
  --color-primary-a20: var(--clr-primary-a20);
  --color-primary-a30: var(--clr-primary-a30);
  --color-primary-a40: var(--clr-primary-a40);
  --color-primary-a50: var(--clr-primary-a50);

  --color-surface-a0: var(--clr-surface-a0);
  --color-surface-a10: var(--clr-surface-a10);
  --color-surface-a20: var(--clr-surface-a20);
  --color-surface-a30: var(--clr-surface-a30);
  --color-surface-a40: var(--clr-surface-a40);
  --color-surface-a50: var(--clr-surface-a50);
  --color-surface-tonal-a0: var(--clr-surface-tonal-a0);
  --color-surface-tonal-a10: var(--clr-surface-tonal-a10);
  --color-surface-tonal-a20: var(--clr-surface-tonal-a20);
  --color-surface-tonal-a30: var(--clr-surface-tonal-a30);
  --color-surface-tonal-a40: var(--clr-surface-tonal-a40);
  --color-surface-tonal-a50: var(--clr-surface-tonal-a50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;

    --secondary-color: #282828;

    /** Dark theme primary colors */
    --clr-primary-a0: #00bb33;
    --clr-primary-a10: #43c34d;
    --clr-primary-a20: #62cb64;
    --clr-primary-a30: #7dd37a;
    --clr-primary-a40: #94db90;
    --clr-primary-a50: #abe2a6;

    /** Dark theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Dark theme tonal surface colors */
    --clr-surface-tonal-a0: #182117;
    --clr-surface-tonal-a10: #2d362c;
    --clr-surface-tonal-a20: #444c43;
    --clr-surface-tonal-a30: #5c635b;
    --clr-surface-tonal-a40: #757b74;
    --clr-surface-tonal-a50: #8f948e;
  }
}

body {
  background: var(--clr-surface-tonal-a0);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
